.landing {
  display: flex;
  background-color: rgba(83, 68, 57, 0.8);
  color: white;
  justify-content: center;
  border: soldi thin #96AFB8;
  margin: 30px 50px 30px 50px;
}

.projectCard{
  background-color: #C0ADA0;
  color: black;
  display: flex;
  justify-content: center;
  border: solid thin #534439;
  margin: 5px 100px 5px 100px;
}

.projectEntry{
  border: solid thin #534439;
  margin: 10px;
  padding: 5px;
}