.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C0ADA0;
  margin: 10px 100px 5px 100px;
  border: solid thin #534439;
}

.addItem{
  /* border: solid thin #534439; */
  margin: 5px 0px 5px 0px;
}

.addItemTag{
  display: flex;
  justify-content: center;
}

.days{
  border: solid thin #534439;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.day{
  margin: 10px 60px 100px 60px;
}