body{
  background-image: url(../public/flower.jpg);
  background-size: 1500px;
  color: #534439;
  font-family: 'Cormorant Garamond', serif;
}

.App-header{
  background-color: rgba(83, 68, 57, 0.8);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.navLink{
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 0px 50px 0px 50px;
}

.navbar{
  display: flex;
  flex-direction: row;
}

.navLink:hover{
  background-color: #FFF6EC;
  color: #534439;
  border-radius: 80px;
}